---
  layout: archive
  author: false
  excerpt: "고온 계측 센서/전자기 장치 개발 제조 전문 회사  **(주)미래엔지니어링**"
  header:
    overlay_image: teaser.jpg
    caption: Welcome to [Mirae Engineering]({{ site.baseurl }}/대표-소개/)
    cta_label: "About"
    cta_url: "https://mirae-eng.github.io/회사-소개/"
    #overlay_filter: rgba(255, 0, 0, 0.5)
---

{% include base_path %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
