---
  layout: archive
  author: false
  excerpt: "This post should display a **THIS?**, if the theme supports it."
  header:
    overlay_image: teaser.jpg
    caption: Welcome to [Mirae Engineering]({{ site.baseurl }}/about/)
    cta_label: "Give me More"
    cta_url: "https://mirae-eng.github.io/about/"
---

{% include base_path %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
